/* font-family: 'Chewy', cursive;
font-family: 'Roboto', sans-serif; */


body{
    background-color: pink;
}
header{
    background-color: maroon;
    color: whitesmoke;
    font-family: 'Chewy', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 1em;
    height: 2em;
    margin-bottom: 2em;


}
main{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;

}
img{
    margin: auto;
    margin-left: 25%;
    border-radius: 10px;
    max-height: 16em;



}

form{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}